body {font-family: monospace;}

p {text-decoration: underline;}

h1{text-align:center;}
header {
  
  border:solid lightblue 3px;
  max-width: 800px;
  padding: 10px;
  }

h2 {background-color: yellow;}
article { border: solid lightgreen 3px;
padding: 10px;
margin-bottom: 15px;

}

article:hover{background-color:black;}

.column-1 {
  padding: 10px;
  vertical-align: text-top;
  display: inline-block;
  max-width: 400px;
}
.column-2 {
  padding: 10px;
  vertical-align: text-top;
  display: inline-block;
  max-width: 400px;
}

a{color:hotpink}

footer {text-align:center;}