<!DOCTYPE html>
<html>
<head>
<title> add a car</title>
</head>
<body>
<form action="/add_cars" method="post">
<input type="text" name="cars" placeholder="enter car">
<button type="submit">BOOM</button>
</form>
</body>
</html>